{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} | On-line Bike Shop</title>
		<link href="{% static 'produk/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
		<!-- jQuery (Bootstrap's JavaScript plugins) -->
		<script src="{% static 'produk/js/jquery.min.js' %}"></script>
		<!-- Custom Theme files -->
		{% block custom_form %}{% endblock %}
		<link href="{% static 'produk/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar(){ 
				window.scrollTo(0,1); 
			}
		</script>
		
		<!--webfont-->
		<link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
		<!--webfont-->
		<!-- dropdown -->
		<script src="{% static 'produk/js/jquery.easydropdown.js' %}"></script>
		<link href="{% static 'produk/css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
		<script src="{% static 'produk/js/scripts.js' %}" type="text/javascript"></script>
		<!--js-->
		{% block smoth_scrolling %}{% endblock %}
	</head>

	<body>
		<script src="{% static 'produk/js/responsiveslides.min.js' %}"></script>
		<script>
			$(function () {
				$("#slider").responsiveSlides({
					auto: false,
					nav: true,
					speed: 500,
					namespace: "callbacks",
					pager: true,
				});
			});
		</script>

		<!--banner-->
		<div class="banner-bg {% if isindex %} banner-bg1 {% else %} banner-sec {% endif %} ">
			<div class="container">
				<div class="header">
					<div class="logo">
						<a href="{% url 'produk:index' %}"><img src="{% static 'produk/images/logo.png' %}" alt=""/></a>
					</div>
					<div class="top-nav">
						<label class="mobile_menu" for="mobile_menu">
							<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
						<ul class="nav">

							{% for navi, konten in navigasi.items|dictsort:0 %}
								<li class="dropdown1"><a href="{% url 'produk:kategori' nilai=navi %}">{{navi}}</a>
									<ul class="dropdown2">
										{% for kon in konten %}
											<li><a href="{% url 'produk:sub_kategori' nilai=navi sub_nilai=forloop.counter %}">{{kon}}</a></li>
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
							
							<a class="shop" href="cart.html"><img src="{% static 'produk/images/cart.png' %}" alt=""/></a>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			{% if isindex %}
				<div class="caption">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides" id="slider">
								{% for tipe in navigasi.keys|dictsort:0 %}
									<li><h1>{{tipe|upper}}</h1></li>
								{% endfor %}
							</ul>
							<p>Temukan <span>sepeda</span> yang <span>Kamu</span> inginkan <span>di sini</span></p>
							<a class="morebtn" href="bicycles.html">MULAI BELANJA</a>
						</div>
					</div>
				</div>
				<div class="dwn">
					<a class="scroll" href="#cate"><img src="{% static 'produk/images/scroll.png' %}" alt=""/></a>
				</div>
			{% endif %}
		</div>
		<!--/banner-->

		{% block content %}{% endblock %}

		<!--footer-->
		<div class="footer">
			 <div class="container wrap">
				<div class="logo2">
					 <a href="{% url 'produk:index' %}"><img src="{% static 'produk/images/logo2.png' %}" alt=""/></a>
				</div>
				<div class="ftr-menu">
					<ul>
						{% for navi in navigasi.keys|dictsort:0 %}
							<li><a href="{% url 'produk:kategori' nilai=navi %}">{{navi|upper}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="clearfix"></div>
			 </div>
		</div>
		<!--/footer-->

	</body>
</html>